{{!-- used from main.handlebars from 17-cats app assignment solved --}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{{!-- css --}}
		<link rel="stylesheet" href="/scrape/public/assets/css/style.css" type="text/css" />
		{{!-- bootstrap css --}}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		{{!-- jquery --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		{{!-- bootstrap cdn --}}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		{{!-- bootbox js is a JavaScript library which allows you to create programmatic dialog boxes using bootstrap modals --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
		{{!-- jquery --}}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    </head>
		<title>Chehlsee's Vice Scraper</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/scrape/public/assets/js/app.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>