{{!-- used from in class assignment 20-scrape-with-mongoose --}}
<div class="jumbotron text-center">
  <div class="overlay">
    <!--adds the darker overlay to the jumbotron-->
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Chehlsee Vice Scrapper</h1>
    <p>Catch up on World News the easy way</p>
  </div>
</div>

{{!-- handlebars assignment as reference 17-catsApp --}}
{{!-- card container from bootstrap --}}
<div class="container-fluid articles-container">
  <div class="row">
    <div class="col-12 col-md-4">
      <h4>Showing comments for... <span class="article-comment-header"></span></h4>
      <form>
        <input type="text" class="form-control note-title" />
        <textarea name="comments" cols="30" rows="5" class="html-text-box form-control note-text">Comments here...</textarea><br>
        <button class="btn btn-block btn-outline-success save-note">Save Note</button>
      </form>
      <div class="comment-list"></div>
    </div>
    <div class="col-12 col-md-8">
      {{#each articles}}
      <div class="card mb-5">
        <div class="card-header">
          {{!-- article title used in an a-tag to the articles page --}}
          {{!-- all info needed on card can be found in article.js --}}
          <a class="link" href="{{link}}">
            <h3>{{title}}</h3>
          </a>
          {{!-- button from bootstrap to save the article to the db --}}
          <button class="btn btn-success comment" data-id="{{_id}}">Write note</button>
        </div>
        {{!-- unless is a handlebars helper --}}
        <div class="card-body">
          <p>{{subtext}}</p>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>

{{!-- index.handlebars bootstrap for leaving a note --}}




<footer class="footer">
  <div class="footer-container">
    <p>Chehlsee</p>
  </div>
</footer>

<script type="text/javascript">
  $(".comment").on("click", function () {
    // remove attribute from .save-note to ensure new one works
    $(".save-note").attr("data-id", "");

    // get article id out of button
    const articleId = $(this).attr("data-id");

    // perform GET request to retrieve that single article's information
    $.ajax({
      url: "/api/articles/" + articleId,
      method: "GET"
    })
      .then(articleInfo => {
        console.log(articleInfo);
        // print article title to comment section
        $(".article-comment-header").text(articleInfo.title);
        // add data attribute to save button to know which article note is being saved to
        $(".save-note").attr("data-id", articleInfo._id);
        // if there are notes, print them
        if (articleInfo.note.length) {
          articleInfo.note.forEach(note => {
            $("<div>")
              .append(`<h5>${note.title}</h5>`)
              .append(`<p>${note.text}</p>`)
              .appendTo($(".comment-list"));
          })
        }
      })
  })

  $('.save-note').on("click", function () {
    // get article id for associated note
    const articleId = $(this).attr("data-id");

    if (!articleId) {
      return false;
    }

    const noteBody = {
      title: $(".note-title").val(),
      text: $(".note-text").val()
    }



       // TODO: perform POST request to /api/articles/:id with noteBody used as req.body and articleId as req.params.id
    // make the AJAX request to the API - POST the JSON data to the articleId that contains the note that was just posted
    // the articleId data then gets passed as an argument to the noteBody function
     // when user submits a note have an alert saying if the note was added or not added under the articleId
     // this code isn't working
     function postNote(noteBody) {
       $.post ("/api/articles/${articleId}", {
         _id: "",
         title: title,
         link: link,
         author: author,
         date: date,
         subtext: subtext,
         updated: updated
       }).then(function(noteBody) {
         window.location.replace(noteBody);
          // if there's an error, handle it by throwing up a bootstrap alert
       }).catch(Error);
     }

     function Error(err) {
       $("#alert .msg").text
       (err.responseJSON);
       $("#alert").fadeIn(500);
     }
  });

</script>